:root {
  --color-code-orange: hsl(30, 70%, 60%);
  --color-code-blue: var(--color-secondary);
  --color-code-indigo: hsl(260, 48%, 56%);
  --color-code-violet: hsl(314, 70%, 60%);
  --color-code-pink: hsl(350, 70%, 60%);
  --color-code-gray: hsl(0, 0%, 58%);
  --color-code-bg: color-mix(in oklab, var(--color-bg) 92%, black);
}

code,
pre {
  font-family: var(--font-mono);
  font-size: var(--size-step-min-1);
  background-color: var(--color-code-bg);

  border-radius: var(--border-radius-medium);
}

:where(:not(pre)) > code {
  position: relative;
  top: -0.05em;
  padding: 0.1em 0.4em;
}
