{%- set deferJs %}{% getBundle "js", "defer" %}{% endset -%}
{%- if deferJs | trim %}
<script type="module">{{ deferJs | safe }}</script>
{%- endif %}
<script type="module">
  if (document.querySelector('is-land')) {
    import('/assets/scripts/components/is-land.js');
  }
</script>
