---
layout: base
title: Posts
description: 'Articles about ServiceNow, code, chess, and life outside the browser.'
pagination:
  data: collections.allPosts
  size: 8
  generatePageOnEmptyData: true
permalink: 'articles/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% include "rasa/articles.njk" %}
