---
layout: base
permalink: /index.html
title: 'Stefan Taitano'
description: 'Veteran and ServiceNow developer in Minneapolis. I build systems for a living and escape plans for fun.'
---

{% include "rasa/home.njk" %}
