---
title: Now
permalink: /now/index.html
description: 'What Stefan Taitano is focused on right now.'
layout: page
---

{% set entries = collections.nowEntries %}

{% if entries.length %}
  {% set latest = entries[0] %}
  <p class="now-entry__date">
    <time datetime="{{ latest.date | formatDateUtc('YYYY-MM-DD') }}">{{ latest.date | formatDateUtc('MMMM D, YYYY') }}</time>
  </p>
  {{ latest.templateContent | safe }}

  {% if entries.length > 1 %}
    <details class="now-previously">
      <summary>
        <span class="now-previously__label">Previously&hellip;</span>
        <span class="now-previously__count">{{ entries.length - 1 }}</span>
      </summary>
      <ol class="now-entries flow" role="list">
        {% for entry in entries %}{% if not loop.first %}
          <li class="flow">
            <p class="now-entry__date">
              <time datetime="{{ entry.date | formatDateUtc('YYYY-MM-DD') }}">{{ entry.date | formatDateUtc('MMMM D, YYYY') }}</time>
            </p>
            {{ entry.templateContent | safe }}
          </li>
        {% endif %}{% endfor %}
      </ol>
    </details>
  {% endif %}
{% endif %}

<h2>Chess</h2>

<p>Adult improver, trying to climb from 700 to 1200 on Lichess Rapid.</p>

<div class="now-stats-wrap">
  <table class="now-stats">
    <caption>Lichess rating and games played</caption>
    <thead>
      <tr>
        <th scope="col">Mode</th>
        <th scope="col">Rating</th>
        <th scope="col">Games</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Rapid</th>
        <td>{{ lichess.perfs.rapid.rating }}</td>
        <td>{{ lichess.perfs.rapid.games }}</td>
      </tr>
      <tr>
        <th scope="row">Puzzles</th>
        <td>{{ lichess.perfs.puzzle.rating }}</td>
        <td>{{ lichess.perfs.puzzle.games }}</td>
      </tr>
    </tbody>
  </table>
</div>

<p>Record: <strong>{{ lichess.count.win }}W / {{ lichess.count.draw }}D / {{ lichess.count.loss }}L</strong></p>

<p><em>stats update on every site build</em></p>

<p><a href="https://lichess.org/@/Late2TheBoard">Challenge me on Lichess</a></p>

<hr>

<p><em>This page is inspired by <a href="https://nownownow.com/about">nownownow.com</a>.</em></p>

{% css "local" %}
  {% include "css/now.css" %}
{% endcss %}
