---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
/next/ / 301
/tags/ /articles/ 301
/tags/* /articles/ 301
/styleguide/ / 301
/imprint/ /privacy/ 301
/sustainability/ /colophon/ 301
/articles/military-transition-into-the-servicenow-training-program-reflections-and-preparations/ /articles/military-transition-into-the-servicenow-training-program/ 301
{%- for page in collections.all -%}
{%- if page.url and page.data.redirectFrom -%}
{%- for oldUrl in page.data.redirectFrom %}
{{ oldUrl }} {{ page.url }}
{%- endfor %}
{%- endif -%}
{%- endfor %}
