---
pagination:
  data: collections.allPosts
  size: 1
  alias: post
permalink: '/assets/og-images/{{ post.data.title | slugify }}-preview.svg'
eleventyExcludeFromCollections: true
---

{% include "rasa/og-article.njk" %}
