{#- Day and night images for `checkin`. The site stylesheet shows the day image unless the theme is dark. -#}
{%- set image = checkin.data.image -%}
{%- if image %}
<figure class="checkin-figure">
  {%- for variant in ['day', 'night'] %}
  <img
    class="checkin-figure__img"
    data-variant="{{ variant }}"
    src="/assets/images/checkins/{{ image[variant] }}"
    alt="{{ image.alt }}"
    width="1600"
    height="1067"
    loading="lazy"
    decoding="async"
    sizes="(min-width: 40em) 34rem, 100vw"
  >
  {%- endfor %}
</figure>
{%- endif %}
