<style>
  @font-face {
    font-family: 'Atkinson OG';
    src: url('{{ ogFonts.atkinson }}') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Fraunces OG';
    src: url('{{ ogFonts.fraunces }}') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Caveat OG';
    src: url('{{ ogFonts.caveat }}') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
</style>
